<?xml version="1.0" encoding="utf-8"?>
<eventDetails>
  <event>
    <eventID>1</eventID>
    <data>This is event1</data>
    <date>11</date>
    <time>na</time>
  </event>
  <event>
    <eventID>2</eventID>
    <data>ASU Manazanita event. Hurry up . Register in this link now!</data>
    <date>11/15/2017</date>
    <time>5:21:10 PM</time>
  </event>
  <event>
    <eventID>5</eventID>
    <data>Event 5 now ......</data>
    <date>11/25/2017</date>
    <time>5:22:37 PM</time>
  </event>
  <event>
    <eventID>6</eventID>
    <data>fhcklsanhvckln hklq njklfnj kleamvfs.ldem vg;.lsr;mb </data>
    <date>11/24/2017</date>
    <time>7:48:02 PM</time>
  </event>
  <event>
    <eventID>7</eventID>
    <data>fd vsdr vbfdxfd b</data>
    <date>12/5/2017</date>
    <time>7:51:19 PM</time>
  </event>
  <event>
    <eventID>8</eventID>
    <data>35435646757869867</data>
    <date>11/16/2017</date>
    <time>7:54:16 PM</time>
  </event>
  <event>
    <eventID>9</eventID>
    <data>ghvjh</data>
    <date>11/24/2017</date>
    <time>9:12:46 PM</time>
  </event>
</eventDetails>